* {
    margin: 0;
    padding: 0;
}
html,
body {
    min-height: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    /*padding-bottom: 100px;*/
    margin-top: 15px;
    flex: 1 0 auto;
}

.logo{
    background: url(../images/admin/ff_logo.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-indent: -9999px;
    width: 180px;
    height: 46px;
    /*position: relative;*/
    /*left:50%;*/
    /*top: 10px;*/
    /*left: 10px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.text{
    text-align: center;
    margin-bottom: 15px;
}

.select{
    text-align: center;
    margin-bottom: 15px;
}

.btn{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font: bold 16px 'Trebuchet MS',Arial, Helvetica;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    border: 1px solid #cccccc;
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    box-shadow: 0 0 0.05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 0.05em rgba(0,0,0,0.4);
    -moz-border-radius: .3em;
    border-radius: 3px;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    margin-right: 10px;
    background: #576270;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#6d6d6d) );
    background: -moz-linear-gradient(-90deg, #4d5663, #748295);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#576270', endColorstr='#748295');
}

.btn:last-child{
    margin-right: 0;
}
.form{
    display: flex;
    background: #f9f9f9;
    border: 1px solid #cdcdcd;
    width: 420px;
    height: 190px;
    margin: 0 auto;
    /*position: absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*margin:-150px 0 0 20px;*/
    -webkit-box-shadow: 0 1px 0 #fff;
    border-radius: 3px;
}

form{
    margin: auto;
}
.form_gdn{
    background: #f9f9f9;
    border: 1px solid #cdcdcd;
    width: 420px;
    height: 220px;
    /*position: absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*margin:-150px 0 0 -421px;*/
    -webkit-box-shadow: 0 1px 0 #fff;
    border-radius: 3px;
}
.form2{
    position: absolute;
    left: 50%;
    /*width: 471px;*/
    margin: 0 -325px 0 -240px;
    height: 40px;
    padding: 0 0 20px 0;
}
.save_img{
    position: absolute;
    left: 50%;
    width: 100px;
    margin: 0 -325px 0 125px;
    height: 40px;
    padding: 5px 0 20px 0;
}
.inputContainer{
    text-align: center;
    margin-top: 45px;
}
.cldb{
    width: 40px;
    height: 20px;
    position: absolute;
    top:50%;
    left:50%;
    z-index:2;
    margin:-10px 0 0 35px;
    outline: none;
}
.cldb_gdn{
    width: 40px;
    height: 20px;
    position: absolute;
    top:50%;
    left:50%;
    z-index:2;
    margin:-10px 0 0 -411px;
    outline: none;
}
.del{
    position: relative;
    outline: none;
    left: 110px;
    cursor: pointer;
    text-decoration: none;
    font: bold 16px 'Trebuchet MS',Arial, Helvetica;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    border: 1px solid #9f352b;
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-border-radius: .3em;
    border-radius: 3px;
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    margin-top: 20px;
    background: #9f352b;
    background: -webkit-gradient(linear, left top, left bottom, from(#bc3f33), to(#9f352b) );
    background: -moz-linear-gradient(-90deg, #bc3f33, #9f352b);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bc3f33', endColorstr='#9f352b');
}
.del:active  {
    position: relative;
    top: 1px;
    background: #9f352b;
}
.del:hover {
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    background: #5d6c7e;
    background: -webkit-gradient(linear, left top, left bottom, from(#9f352b), to(#bc3f33) );
    background: -moz-linear-gradient(-90deg, #9f352b, #bc3f33);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9f352b', endColorstr='#bc3f33');
}
.add {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font: bold 16px 'Trebuchet MS',Arial, Helvetica;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    border: 1px solid #576270;
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-border-radius: .3em;
    border-radius: 3px;
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    background: #576270;
    background: -webkit-gradient(linear, left top, left bottom, from(#576270), to(#748295) );
    background: -moz-linear-gradient(-90deg, #4d5663, #748295);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#576270', endColorstr='#748295');
}
.add:active  {
    position: relative;
    top: 1px;
    background: #576270;
}
.add:hover {
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    background: #5d6c7e;
    background: -webkit-gradient(linear, left top, left bottom, from(#748295), to(#576270) );
    background: -moz-linear-gradient(-90deg, #748295, #576270);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#748295', endColorstr='#576270');
}

.info{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 60px;
}

.text-info{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 20px;
}

.text-info-error{
    font-size: 20px;
    color: #9f352b;
    text-align: center;
    position: relative;
    top: 20px;
}

strong{
    font-size: 24px;
}

.copyrite{
    margin: auto;
}

footer {
    display: flex;
    flex: 0 0 auto;
    background-color: #eaeaea;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #cecece;
}

